DB_HOST_IP=$db_host_ip
NET_CLASS=$net_class
HOST_NAME_ARRAY=("pega1" "pega2" "pegadb")
HOST_NAME_IPADDRESS_ARRAY=("$pega1_host_ip" "$pega2_host_ip" "$db_host_ip")
HOST_NAME_DATABASE=pegadb
HOST_NAME_APP_ARRAY=("pega1" "pega2")
